{% extends 'base.html.twig' %}


{% block body %}
<p style="padding-top:25px;">Liste des Entreprises</p>
<table class="table table-striped table-bordered" >
<thead >
  <tr>
    <th scope="col">Nom de l'entreprise</th>
    <th scope="col">Adresse</th>
	<th scope="col">Milieu</th>
	<th scope="col">Modifier</th>
  </tr>
</thead>


	{% for EntrepriseCourante in entreprises %}
			<tbody>
					<tr>
						<td>
							<a href="{{path('prostages_StagesParEntreprises',{id:EntrepriseCourante.id})}}">{{EntrepriseCourante.nom}} </a>
						</td>
						<td>
							{{EntrepriseCourante.adresse}}
						</td>
						<td>
							{{EntrepriseCourante.milieu}}
						</td>
						<td>
							<a href="{{ path('prostages_ModifierEntreprise',{id:EntrepriseCourante.id}) }}"><i class="bi bi-pencil-square"></i></a>
						</td>
					</tr>
			</tbody>

	{% endfor %}

</table>
		
{% endblock %}